{% extends 'base.html' %}
    
{% block contents %}
    
{% if error %}
{{ error }}
<br>
<br>
{% endif %}

    <h1>Sign Up!</h1>
    
    <form action="{% url 'signup' %}" method="POST">
        
        {% csrf_token %}
        <!-- csrf공격을 막는 토큰 POST방식으로 보낸다고 하면 보안을 위해서 이걸 써주는게 낫다고 함. -->
        Username:
        <br>
        <input name="username" type="text" value="">
        <br>
        Password:
        <br>
        <input name="password1" type="password" value="">
        <br>
        Confirm Password:
        <br>
        <input name="password2" type="password" value="">
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="Sign Up!">
    </form>
    
    {% endblock %}